<html><!DOCTYPE html>
<html>
<head>
	<title>{$title}_{$confres.sitename}</title>
	<meta charset="UTF-8">
	<link rel="shortcut icon" type="image/x-icon" href="index_static/images/logoIcon.png" tppabs="http://a.yongheganggu.com/Public/Home/img/logoIcon.png" media="screen">
	{block name='header'}
		<link rel="stylesheet" href="index_static/css/common.css" tppabs="http://a.yongheganggu.com/Public/Home/css/common.css">
		<script src="index_static/js/uaredirect.js" tppabs="http://siteapp.baidu.com/static/webappservice/uaredirect.js" type="text/javascript">
		</script><script type="text/javascript">uaredirect("http://yongheganggu.com/m");</script>	
		<link rel="stylesheet" href="index_static/css/gygg.css" tppabs="http://a.yongheganggu.com/Public/Home/css/gygg.css">
	{/block}
</head>
<body>
	<!--公共头部-->
	<div class="header">
		<img src="index_static/images/head1.png" tppabs="http://a.yongheganggu.com/Public/Home/img/head1.png" alt="" class="img1"/>
		<div class="header-con y-row">
			<div class="number">
				<div class="fl-lt">24小时热线  {$confres.zsrx}</div>
				<div class="fl-rt" onclick="AddFavorite(window.location,document.title)">
					<img src="index_static/images/colected.png" tppabs="http://a.yongheganggu.com/Public/Home/img/colected.png" alt="" />
					<span>Bookmark<br><em>收藏本站</em></span>
				</div>
			</div>
			<div class="head-top clearfix">
				<img src="index_static/images/head2.png" tppabs="http://a.yongheganggu.com/Public/Home/img/head2.png" class="fl-lt"/>
				<img src="index_static/images/head5.png" tppabs="http://a.yongheganggu.com/Public/Home/img/head5.png" class="fl-rt"/>				
			</div>
			<div class="header-bottom clearfix">
				<a href="{:url('index/index')}" tppabs="http://a.yongheganggu.com/" class="link-index"><img src="index_static/images/head4.png" tppabs="http://a.yongheganggu.com/Public/Home/img/head4.png" alt="" class="fl-lt"/></a>
				<ul class="fl-rt nav-list">
					<li>
						<h2>关于港谷</h2>
						<div class="li-item">
							<a href="{:url('Art/ggwh')}" tppabs="http://a.yongheganggu.com/Home/Art/ggwh.html">港谷文化</a>
                            <a href="{:url('Art/xmjj')}" tppabs="http://a.yongheganggu.com/Home/Art/xmjj.html">项目简介</a>
							<a href="{:url('Art/gwyq')}" tppabs="http://a.yongheganggu.com/Home/Art/gwyq.html">谷物元气</a>
							<a href="{:url('News/lst')}" tppabs="http://a.yongheganggu.com/Home/News/lst.html">新闻中心</a>
						</div>
					</li>
					<li>
						<h2>元气美食</h2>
						<div class="li-item">
							<a href="{:url('Art/yqzc')}" tppabs="http://a.yongheganggu.com/Home/Art/yqzc.html">元气早餐</a>
							<a href="{:url('Art/gwzc')}" tppabs="http://a.yongheganggu.com/Home/Art/gwzc.html">谷物正餐</a>
							<a href="{:url('Art/xxxwc')}" tppabs="http://a.yongheganggu.com/Home/Art/xxxwc.html">休闲下午茶</a>
							<a href="{:url('Art/ffwc')}" tppabs="http://a.yongheganggu.com/Home/Art/ffwc.html">丰富晚餐</a>
						</div>
					</li>
					<li>
						<h2>营销分析</h2>
						<div class="li-item">
							<a href="{:url('Art/scfx')}" tppabs="http://a.yongheganggu.com/Home/Art/scfx.html">市场分析</a>
							<a href="{:url('Art/xmys')}" tppabs="http://a.yongheganggu.com/Home/Art/xmys.html">项目优势</a>
						</div>
					</li>
					<li>
						<h2>加盟专区</h2>
						<div class="li-item">
							<a href="{:url('Art/jmtj')}" tppabs="http://a.yongheganggu.com/Home/Art/jmtj.html">加盟条件</a>
							<a href="{:url('Art/jmdx')}" tppabs="http://a.yongheganggu.com/Home/Art/jmdx.html">加盟店型</a>
							<a href="{:url('Art/jmlc')}" tppabs="http://a.yongheganggu.com/Home/Art/jmlc.html">加盟流程</a>
							<a href="{:url('Art/jmqy')}" tppabs="http://a.yongheganggu.com/Home/Art/jmqy.html">加盟权益</a>
							<a href="{:url('Art/jmzc')}" tppabs="http://a.yongheganggu.com/Home/Art/jmzc.html">加盟支持</a>
						</div>
					</li>
					<li>
						<h2>港谷连线</h2>
						<div class="li-item">
							<a href="{:url('Message/add')}" tppabs="http://a.yongheganggu.com/Home/Messages/add.html">在线留言</a>
							<a href="{:url('Art/lxwm')}" tppabs="http://a.yongheganggu.com/Home/Art/lxwm.html">联系我们</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
        <div class="banner">
            <ul class="banner-list">
               <!--  <li style="background: url(/Public/Home/img/banner0.jpg) center 70% no-repeat;"></li>
                <li style="background: url(/Public/Home/img/banner1.jpg) center 70% no-repeat;"></li>
                <li style="background: url(/Public/Home/img/banner2.jpg) center 70% no-repeat;"></li>
                <li style="background: url(/Public/Home/img/banner3.jpg) center 70% no-repeat;"></li> -->
                {volist name="carousel" id="data"}
                    <li style="background: url({$data.thumb}) center 70% no-repeat;"></li>
                {/volist}          
			</ul>
            <div class="banner-line">
                <i class="i1"></i>
                <i class="i2"></i>
            </div>  
            <img src="index_static/images/banner1_icon1.png" tppabs="http://a.yongheganggu.com/Public/Home/img/banner1_icon1.png" alt="" class="banner-icon"/>
        </div>
        <img src="index_static/images/head3.png" tppabs="http://a.yongheganggu.com/Public/Home/img/head3.png" alt="" class="img2"/>
    </div>


<!-- <div class="bannerbox">
     <div class="callbacks_container">
            <ul class="rslides" id="slider">
                <li><a href="#"><img src="/Public/Uploads/591c15331f8a0.jpg" ></a></li><li><a href="#"><img src="/Public/Uploads/591c1543caabc.jpg" ></a></li><li><a href="#"><img src="/Public/Uploads/591c154d3f277.jpg" ></a></li><li><a href="#"><img src="/Public/Uploads/591c1564b98d7.jpg" ></a></li><li><a href="#"><img src="/Public/Uploads/591c157c61fdf.jpg" ></a></li>            </ul>
      </div>
</div> -->

	
	<!--中间部分-->

	<div class="content clearfix">
		<div class="y-row">
			<div class="er-nav fl-lt">
				<img src="index_static/images/er_nav1.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/er_nav1.jpg" alt="" class="nav-img1"/>
				<div class="er-main">
					<a class="er-title" href="index.html" tppabs="http://a.yongheganggu.com/Home/Art/index.html">
						<h2>关于港谷</h2>
						<p>About gang gu</p>
					</a>
					<ul class="er-list">																										
						<li>
							<a href="{:url('Art/ggwh')}" tppabs="http://a.yongheganggu.com/Home/Art/ggwh.html" class="active">港谷文化</a>
						</li>
						<li>
							<a href="{:url('Art/xmjj')}" tppabs="http://a.yongheganggu.com/Home/Art/xmjj.html">项目简介></a>
						</li>
						<li>
							<a href="{:url('Art/gwyq')}" tppabs="http://a.yongheganggu.com/Home/Art/gwyq.html">谷物元气></a>
						</li>
						<li>
							<a href="{:url('News/lst')}" tppabs="http://a.yongheganggu.com/Home/News/lst.html">新闻中心></a>
						</li>
					</ul>
					<div class="number">
						<img src="index_static/images/erweima2.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/erweima2.jpg" alt="" class="nav-img2"/>
						<div><img src="index_static/images/er_nav_phone.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/er_nav_phone.jpg" alt="" /><span>24小时热线</span></div>
						<p>{$confres.zsrx}</p>
					</div>					
				</div>									
				<ul class="er-list er-list2">
					<li>
						<a href="{:url('Message/add')}" tppabs="http://a.yongheganggu.com/Home/Messages/add.html">在线留言></a>
					</li>
					<li>
						<a href="{:url('Art/lxwm')}" tppabs="http://a.yongheganggu.com/Home/Art/lxwm.html">联系我们></a>
					</li>
					<li>
						<a href="{:url('Art/jmtj')}" tppabs="http://a.yongheganggu.com/Home/Art/jmtj.html">加盟条件></a>
					</li>
					<li>
						<a href="{:url('Art/jmdx')}" tppabs="http://a.yongheganggu.com/Home/Art/jmdx.html">加盟店型></a>
					</li>
				</ul>
			</div>		
			{block name='content'}
			<div class="main fl-rt ggwh">
				<div class="main-title">港谷文化></div>
				<div class="part1 clearfix">
					<h1>港谷生活</h1>
					<h2>就是元气满满，健康常在！</h2>
					<p>Vigour, full health often in! </p>
					<img src="index_static/images/ggwh1.png" tppabs="http://a.yongheganggu.com/Public/Home/img/ggwh1.png" alt="" class="img1"/>					
				</div>
				<div class="part2">
					<img src="index_static/images/ggwh2.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/ggwh2.jpg" alt="" class="img2"/>
					<ul>
						<li><strong>品牌愿景：</strong><p>打造谷物快餐产业链终端品牌。</p></li>
						<li><strong>品牌使命：</strong><p>让世界爱上谷物美食。</p></li>
						<li><strong>品牌印象：</strong><p>谷物添加特色营养快餐。<br> 带来满满元气生活的正能量概念美食。 <br>健康、实惠、营养、美味。</p></li>
						<li><strong>服务理念：</strong><p>多观察，多主动，多关心，多热情，多仔细。<br> 用100分的元气服务，换100分的满意放心。</p></li>
						<li><strong>产品理念：</strong><p>用心做好每一道菜，让食客不仅吃饱，更要吃得<br>健康，吃得美味，吃得元气满满。</p></li>
						<li><strong>品牌价值观：</strong><p>热情·积极·诚信·快乐·坚持</p></li>
						<li><strong>经营理念：</strong><p>健康·用心·诚恳·服务·活力</p></li>
					</ul>
				</div>
				<div class="part3">
					<img src="index_static/images/ggwh3.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/ggwh3.jpg" alt="" />
				</div>
				
			</div>
			{/block}
		</div>	
				
	</div>
	
	
	<!--公共底部-->
	<div class="footer">
		<!--<img src="/Public/Home/img/foot1.jpg" alt="" class="foot-img1"/>-->
		<div class="foot-line">
			<i class="i1"></i>
			<i class="i2"></i>
			<img src="index_static/images/arrowT.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/arrowT.jpg" alt="" id="scroll_top"/>
		</div>
		<div class="footer-main">
			<div class="footer-top">
				<div class="y-row">
					<a href="index.htm" tppabs="http://a.yongheganggu.com/"><img src="index_static/images/foot2.png" tppabs="http://a.yongheganggu.com/Public/Home/img/foot2.png" alt="" class="f-logo" /></a>
					<ul class="fl-rt nav-list nav-list2">
						<li>
                        <h2>关于港谷</h2>
                        <div class="li-item">
                            <a href="{:url('Art/ggwh')}" tppabs="http://a.yongheganggu.com/Home/Art/ggwh.html">港谷文化</a>
                            <a href="{:url('Art/xmjj')}" tppabs="http://a.yongheganggu.com/Home/Art/xmjj.html">项目简介</a>
                            <a href="{:url('Art/gwyq')}" tppabs="http://a.yongheganggu.com/Home/Art/gwyq.html">谷物元气</a>
                            <a href="{:url('News/lst')}" tppabs="http://a.yongheganggu.com/Home/News/lst.html">新闻中心</a>
                        </div>
                    </li>
                    <li>
                        <h2>元气美食</h2>
                        <div class="li-item">
                            <a href="{:url('Art/yqzc')}" tppabs="http://a.yongheganggu.com/Home/Art/yqzc.html">元气早餐</a>
                            <a href="{:url('Art/gwzc')}" tppabs="http://a.yongheganggu.com/Home/Art/gwzc.html">谷物正餐</a>
                            <a href="{:url('Art/xxxwc')}" tppabs="http://a.yongheganggu.com/Home/Art/xxxwc.html">休闲下午茶</a>
                            <a href="{:url('Art/ffwc')}" tppabs="http://a.yongheganggu.com/Home/Art/ffwc.html">丰富晚餐</a>
                        </div>
                    </li>
                    <li>
                        <h2>营销分析</h2>
                        <div class="li-item">
                            <a href="{:url('Art/scfx')}" tppabs="http://a.yongheganggu.com/Home/Art/scfx.html">市场分析</a>
                            <a href="{:url('Art/xmys')}" tppabs="http://a.yongheganggu.com/Home/Art/xmys.html">项目优势</a>
                        </div>
                    </li>
                    <li>
                        <h2>加盟专区</h2>
                        <div class="li-item">
                            <a href="{:url('Art/jmtj')}" tppabs="http://a.yongheganggu.com/Home/Art/jmtj.html">加盟条件</a>
                            <a href="{:url('Art/jmdx')}" tppabs="http://a.yongheganggu.com/Home/Art/jmdx.html">加盟店型</a>
                            <a href="{:url('Art/jmlc')}" tppabs="http://a.yongheganggu.com/Home/Art/jmlc.html">加盟流程</a>
                            <a href="{:url('Art/jmqy')}" tppabs="http://a.yongheganggu.com/Home/Art/jmqy.html">加盟权益</a>
                            <a href="{:url('Art/jmzc')}" tppabs="http://a.yongheganggu.com/Home/Art/jmzc.html">加盟支持</a>
                        </div>
                    </li>
                    <li>
                        <h2>港谷连线</h2>
                        <div class="li-item">
                            <a href="{:url('Message/add')}" tppabs="http://a.yongheganggu.com/Home/Messages/add.html">在线留言</a>
                            <a href="{:url('Art/lxwm')}" tppabs="http://a.yongheganggu.com/Home/Art/lxwm.html">联系我们</a>
                        </div>
                    </li>
					</ul>
				</div>
			</div>
			<div class="footer-bottom clearfix">
				<div class="foot-b1 fl-lt">
					<div class="f-title">
						<img src="index_static/images/foot5.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/foot5.jpg" alt="" />
						<h3>联系方式<span>Contact</span></h3>
					</div>
					<div class="f-con">
                        <p>招商热线：{$confres.zsrx}
                        <br>服务热线：{$confres.fwrx}
                        <br>企业QQ：{$confres.qyqq}
                        <br>企业邮箱：{$confres.qyyx}
                        <br>投诉邮箱：{$confres.tsyx}
                        </p>
                    </div>
				</div>
				<div class="foot-b2 fl-lt">
					<div class="f-title">
						<img src="index_static/images/foot6.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/foot6.jpg" alt="" />
						<h3>公司地址<span>Address</span></h3>
					</div>
					<div class="f-con">
                        <p class="p1">{$confres.gsmc}</p>
                        <p class="p2">{$confres.gsdz}</p>
                        <div class="erweima">
                            <img src="index_static/images/erweima.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/erweima.jpg" alt="" />
                            <span>品牌策划<br>北京若邻广告</span>
                        </div>
                    </div>
				</div>
				<div class="foot-b3 fl-rt">
					<div class="f-title">
						<img src="index_static/images/foot7.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/foot7.jpg" alt="" />
						<h3>友情链接<span>Link</span></h3>
					</div>
					<div class="f-con clearfix">						
						{volist name="linkRes" id="data"}
                            <a href="{$data.url}" tppabs="{$data.url}">{$data.title}</a>                    
                        {/volist}
					</div>
				</div>
			</div>
		</div>
		<!--<img src="/Public/Home/img/foot3.jpg" alt="" class="foot-img2"/>-->
	</div>
	{block name='js'}
		<script src="index_static/js/jquery1.42.min.js" tppabs="http://a.yongheganggu.com/Public/Home/js/jquery1.42.min.js"></script>
		<script src="index_static/js/jquery.SuperSlide.2.1.1.js" tppabs="http://a.yongheganggu.com/Public/Home/js/jquery.SuperSlide.2.1.1.js"></script>
		<script src="index_static/js/common.js" tppabs="http://a.yongheganggu.com/Public/Home/js/common.js"></script>
		<script src="index_static/js/index.js" tppabs="http://a.yongheganggu.com/Public/Home/js/index.js"></script>
		<script>		
			//新闻
			jQuery(".txtScroll-top").slide({mainCell:".Newss-list",autoPage:true,effect:"topLoop",autoPlay:true,vis:5});
		
			//美食
			jQuery(".picScroll-left").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"left",autoPlay:true,vis:3});
					
		</script>
	{/block}
</body>
</html>