{extend name="art/ggwh" /}
{block name='content'}
			<div class="main fl-rt gwyq">
				<div class="main-title">谷物元气></div>
				<div class="part1 clearfix">
					<h1>永和港谷</h1>
					<h2>谷物添加元气快餐</h2>
					<p>Grain add feet fast food   </p>
					<img src="index_static/images/gwyq1.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/gwyq1.jpg" alt="" class="img1"/>					
				</div>
				<div class="part2 clearfix">
					<span>gǔ</span>
					<h2>“<strong>谷</strong>者,百谷之总名。”</h2>
					<h3 class="fl-rt">—— 《说文》</h3>
					<p>谷，两千年来中华民族传统主食。
						<br>富含多种维生素、植物纤维和人体所必需的微量元素，是普通白米的数倍。
						<br>常吃谷制食品，减肥养颜，预防多种疾病，有益身体健康。
						<br>活体谷物是指具有发芽力的谷物，其营养价值更丰富，口感更细腻。</p>										
				</div>
				<div class="part3 part">
					<ul class="clearfix">
						<li>永</li><li>和</li><li>港</li><li>谷</li>
					</ul>
					<p>采用<strong>非转基因活体</strong>谷物为原料<br>缔造健康美食<strong>新概念</strong></p>
				</div>
				<div class="part4">
					<h2>元气：<strong>人之精气神。</strong></h2>
					<p>元气，是健康的身体，是乐观的心态，也是快乐的心情。
						<br>用谷物美食的健康、营养、美味、实惠的特性，
						<br>为生活赋予更多积极的意义，
						<br>从而让消费者在日常工作和生活中获得新的元气动力。
						<br>从食物中获得足够的营养，保障一天的健康身体所需，
						<br>同时从精致美味享受中，获得一天好食心情。</p>					
				</div>
				<div class="part5 part">
					<ul class="clearfix">
						<li>永</li><li>和</li><li>港</li><li>谷</li>
					</ul>
					<p><strong>元气谷物快餐</strong>提倡者<br>缔造健康美食<strong>新概念</strong></p>
				</div>
				<div class="part6">
					<h1>YONG HE<br>GANG GU </h1>
					<img src="index_static/images/gwyq2.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/gwyq2.jpg" alt="" />
				</div>
				
			</div>
{/block}