{extend name="art/ggwh" /}
{block name='header'}
<link rel="stylesheet" href="index_static/css/common.css" tppabs="http://a.yongheganggu.com/Public/Home/css/common.css">
<script src="index_static/js/uaredirect.js" tppabs="http://siteapp.baidu.com/static/webappservice/uaredirect.js" type="text/javascript"></script><script type="text/javascript">uaredirect("http://yongheganggu.com/m");</script>	
<link rel="stylesheet" href="index_static/css/jmzq.css" tppabs="http://a.yongheganggu.com/Public/Home/css/yxfx.css">
{/block}
{block name='content'}	
			<div class="main fl-rt jmdx">
				<div class="main-title">加盟店型></div>
				<div class="part1 clearfix">
					<h1>加盟店型</h1>
					<p>Business type</p>				
				</div>
				<div class="part2">
					<ul>
						<li>
							<img src="index_static/images/jmzc1.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/jmzc1.jpg" alt="" class="fl-lt"/>
							<div class="li-con fl-rt">
								<div class="title clearfix">
									<h1 class="fl-lt">创业店</h1>
									<span class="fl-rt">Business shop</span>
								</div>
								<div class="star">
									<span>盈利指数：</span>
									<img src="index_static/images/jmzc_star.png" tppabs="http://a.yongheganggu.com/Public/Home/img/jmzc_star.png" alt="" />
									<img src="index_static/images/jmzc_star.png" tppabs="http://a.yongheganggu.com/Public/Home/img/jmzc_star.png" alt="" />
									<img src="index_static/images/jmzc_star.png" tppabs="http://a.yongheganggu.com/Public/Home/img/jmzc_star.png" alt="" />
								</div>
								<p><strong>投资优势：</strong>起步轻松，经营灵活，成 本不高，收益回本快。</p>
							</div>
						</li>
						<li>
							<img src="index_static/images/jmzc1.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/jmzc1.jpg" alt="" class="fl-lt"/>
							<div class="li-con fl-rt">
								<div class="title clearfix">
									<h1 class="fl-lt">标准店</h1>
									<span class="fl-rt">Standard shop</span>
								</div>
								<div class="star">
									<span>盈利指数：</span>
									<img src="index_static/images/jmzc_star.png" tppabs="http://a.yongheganggu.com/Public/Home/img/jmzc_star.png" alt="" />
									<img src="index_static/images/jmzc_star.png" tppabs="http://a.yongheganggu.com/Public/Home/img/jmzc_star.png" alt="" />
									<img src="index_static/images/jmzc_star.png" tppabs="http://a.yongheganggu.com/Public/Home/img/jmzc_star.png" alt="" />
									<img src="index_static/images/jmzc_star.png" tppabs="http://a.yongheganggu.com/Public/Home/img/jmzc_star.png" alt="" />
								</div>
								<p><strong>投资优势：</strong>产品种类较为丰富，就餐体验更 加舒适，形成稳定客流</p>
							</div>
						</li>
					</ul>
				</div>
				
			</div>
{/block}