{extend name="art/ggwh" /}
{block name='header'}
<link rel="stylesheet" href="index_static/css/common.css" tppabs="http://a.yongheganggu.com/Public/Home/css/common.css">
<script src="index_static/js/uaredirect.js" tppabs="http://siteapp.baidu.com/static/webappservice/uaredirect.js" type="text/javascript"></script><script type="text/javascript">uaredirect("http://yongheganggu.com/m");</script>	
<link rel="stylesheet" href="index_static/css/jmzq.css" tppabs="http://a.yongheganggu.com/Public/Home/css/yxfx.css">
{/block}
{block name='content'}	
			<div class="main fl-rt jmlc">
				<div class="main-title">加盟流程></div>
				<div class="part1 clearfix">
					<h1>合作流程</h1>
					<p>Cooperation process</p>				
				</div>
				<div class="part2">
					<img src="index_static/images/jmlc1.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/jmlc1.jpg" alt="" class="img1"/>
					<ul class="clearfix">
						<li>
							<h2>项目申请</h2>
							<span>Project application</span>
							<p>拨打400-520-1314或在官网留言提出申请。 </p>
							<img src="jmlc2.png" tppabs="http://a.yongheganggu.com/Public/Home/img/jmlc2.png" alt="" />
						</li>
						<li>
							<h2>开业大吉</h2>
							<span>Good luck in the opening</span>
							<p>货品配送、店铺验收、人员到位、轻松赚钱。 </p>
							<img src="jmlc4.png" tppabs="http://a.yongheganggu.com/Public/Home/img/jmlc4.png" alt="" />
						</li>
						<li>
							<h2>双方沟通</h2>
							<span>The two sides to communicate</span>
							<p>互相了解、充分沟通，总部实地考察体验。 </p>
							<img src="jmlc2.png" tppabs="http://a.yongheganggu.com/Public/Home/img/jmlc2.png" alt="" />
						</li>
						<li>
							<h2>开店支持</h2>
							<span>Open a shop to support</span>
							<p>下店指导、开业促销、品牌推广等支持。 </p>
							<img src="jmlc4.png" tppabs="http://a.yongheganggu.com/Public/Home/img/jmlc4.png" alt="" />
						</li>
						<li>
							<h2>签订合同</h2>
							<span>Sign the contract</span>
							<p>合理分析投资损益，达成共识，合作成功。 </p>
							<img src="jmlc2.png" tppabs="http://a.yongheganggu.com/Public/Home/img/jmlc2.png" alt="" />
						</li>
						<li>
							<h2>全面培训</h2>
							<span>Comprehensive training</span>
							<p>公司总部对加盟商进行全方位的运营、技术等培训。 </p>
							<img src="jmlc4.png" tppabs="http://a.yongheganggu.com/Public/Home/img/jmlc4.png" alt="" />
						</li>
						<li>
							<h2>经营规划</h2>
							<span>Business plan</span>
							<p>公司派专业人员对经营地区进行评估规划。 </p>
						</li>
						<li>
							<h2>项目启动</h2>
							<span>Project start</span>
							<p>选址评估/店铺装修/布局设计/人员招聘。 </p>
						</li>
					</ul>
					<img src="jmlc3.png" tppabs="http://a.yongheganggu.com/Public/Home/img/jmlc3.png" alt="" class="img2"/>
				</div>
				
			</div>
{/block}