{extend name="art/ggwh" /}
{block name='header'}
<link rel="stylesheet" href="index_static/css/common.css" tppabs="http://a.yongheganggu.com/Public/Home/css/common.css">
<script src="index_static/js/uaredirect.js" tppabs="http://siteapp.baidu.com/static/webappservice/uaredirect.js" type="text/javascript"></script><script type="text/javascript">uaredirect("http://yongheganggu.com/m");</script>	
<link rel="stylesheet" href="index_static/css/jmzq.css" tppabs="http://a.yongheganggu.com/Public/Home/css/yxfx.css">
{/block}
{block name='content'}
			<div class="main fl-rt jmqy">
				<div class="main-title">加盟权益></div>
				<div class="part1 clearfix">
					<h1>加盟权益</h1>
					<p>Join the rights interests</p>				
				</div>
				<div class="part2">
					<a href="index.html" tppabs="http://a.yongheganggu.com/Home/Art/index.html"><img src="index_static/images/jmqy1.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/jmqy1.jpg" alt="" class="img1"/></a>
					<ul class="clearfix">
						<li>
							<h2>01</h2>
							<div class="li-con">
								<h3>设备配送</h3>
								<p>根据投资级别不同公司免费配送全套核心设备</p>
							</div>
						</li>
						<li>
							<h2>02</h2>
							<div class="li-con">
								<h3>选址规划</h3>
								<p>公司专业团队协助您选择合适的经营店铺</p>
							</div>
						</li>
						<li>
							<h2>03</h2>
							<div class="li-con">
								<h3>店铺设计</h3>
								<p>专业设计师为您提供店铺装修布置方案</p>
							</div>
						</li>
						<li>
							<h2>04</h2>
							<div class="li-con">
								<h3>培训传授</h3>
								<p>总部对您进行系统的产品技术、店铺经营培训</p>
							</div>
						</li>
						<li>
							<h2>05</h2>
							<div class="li-con">
								<h3>开业策划</h3>
								<p>总部帮您制定方位、深层次、低成本的宣传营销方案让您开店无忧</p>
							</div>
						</li>
						<li>
							<h2>06</h2>
							<div class="li-con">
								<h3>下店指导</h3>
								<p>总部设有项目运营部，开业期间全程带店指导，让您轻松赚钱</p>
							</div>
						</li>
						<li>
							<h2>07</h2>
							<div class="li-con">
								<h3>广告宣传</h3>
								<p>全国性媒体、杂志、网络等多平台强势推广，让你的店更具知名度</p>
							</div>
						</li>
						<li>
							<h2>08</h2>
							<div class="li-con">
								<h3>区域保护</h3>
								<p>总部对您经营范围一公里内限制发展其他加盟店，确保您能垄断区域市</p>
							</div>
						</li>
						<li>
							<h2>09</h2>
							<div class="li-con">
								<h3>新品开发</h3>
								<p>总部研发部门定季结合市场推出新产品</p>
							</div>
						</li>
						<li>
							<h2>10</h2>
							<div class="li-con">
								<h3>督导服务</h3>
								<p>总部不定期进行店铺巡查，年终将对业绩有优秀者加以奖励</p>
							</div>
						</li>
						
					</ul>
				</div>
				
			</div>
{/block}