{extend name="art/ggwh" /}
{block name='header'}
<link rel="stylesheet" href="index_static/css/common.css" tppabs="http://a.yongheganggu.com/Public/Home/css/common.css">
<script src="index_static/js/uaredirect.js" tppabs="http://siteapp.baidu.com/static/webappservice/uaredirect.js" type="text/javascript"></script><script type="text/javascript">uaredirect("http://yongheganggu.com/m");</script>	
<link rel="stylesheet" href="index_static/css/jmzq.css" tppabs="http://a.yongheganggu.com/Public/Home/css/yxfx.css">
{/block}
{block name='content'}
			<div class="main fl-rt jmtj">
				<div class="main-title">加盟条件></div>
				<div class="part1 clearfix">
					<h1>加盟条件</h1>
					<p>Join condition</p>				
				</div>
				<div class="part2">
					<img src="index_static/images/jmtj1.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/jmtj1.jpg" alt="" class="img2"/>
					<p>1、热爱快餐事业；
						<br>2、良好的商业道德和团队精神；
						<br>3、具有一定的资金实力且资信良好；
						<br>4、具有合法经营资格的自然人或法人；
						<br>5、有强烈成功的欲望、事业心和管理意识；
						<br>6、认同永和港股品牌的经营理念，接受总部指导监督。</p>
				</div>
				
			</div>
{/block}