{extend name="art/ggwh" /}
{block name='header'}
<link rel="stylesheet" href="index_static/css/common.css" tppabs="http://a.yongheganggu.com/Public/Home/css/common.css">
<script src="index_static/js/uaredirect.js" tppabs="http://siteapp.baidu.com/static/webappservice/uaredirect.js" type="text/javascript"></script><script type="text/javascript">uaredirect("http://yongheganggu.com/m");</script>	
<link rel="stylesheet" href="index_static/css/jmzq.css" tppabs="http://a.yongheganggu.com/Public/Home/css/yxfx.css">
{/block}
{block name='content'}
			<div class="main fl-rt jmzc">
				<div class="main-title">加盟支持></div>
				<div class="part1 clearfix">
					<h1>总部支持</h1>
					<p>Headquarters of the support</p>				
				</div>
				<div class="part2">
					<ul class="clearfix">
						<li>
							<img src="index_static/images/jmz1.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/jmz1.jpg" alt="" class="li-img"/>
							<div class="li-con fl-lt">
								<h2>区域保护    财富独享</h2>
								<p>代理商在其区域有一定独占性，市场运作空间大， 分支渠道多，易于施展拳脚，独享财富。</p>
							</div>
						</li>
						<li>
							<img src="index_static/images/jmz2.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/jmz2.jpg" alt="" class="li-img"/>
							<div class="li-con fl-lt">
								<h2>物流便捷    供应及时</h2>
								<p>总部与多家货运、快递公司常年合作，向全国各 地配送物料，确保货物发收安全无误，降低成本。</p>
							</div>
						</li>
						<li>
							<img src="index_static/images/jmz3.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/jmz3.jpg" alt="" class="li-img"/>
							<div class="li-con fl-lt">
								<h2>策划营销    智力支持</h2>
								<p>总部专业策划团队，市场宣传活动总部进行指导、 协助、预算、全程支持，快速抢占市场。</p>
							</div>
						</li>
						<li>
							<img src="index_static/images/jmz4.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/jmz4.jpg" alt="" class="li-img"/>
							<div class="li-con fl-lt">
								<h2>技术培训    包教包会</h2>
								<p>一对一教学、安排住宿，总部免费提供技术培训， 并报销培训往返路费，对初次创业优惠支持。</p>
							</div>
						</li>
						<li>
							<img src="index_static/images/jmz5.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/jmz5.jpg" alt="" class="li-img"/>
							<div class="li-con fl-lt">
								<h2>勘察选址    助力新店</h2>
								<p>为经营者提供专业商圈考察、选址评估、装修指导、 店内陈列、开业宣传、开业活动等服务。 </p>
							</div>
						</li>
						<li>
							<img src="index_static/images/jmz6.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/jmz6.jpg" alt="" class="li-img"/>
							<div class="li-con fl-lt">
								<h2>广告支持    强势品牌</h2>
								<p>专业广告团队，每年投入大量广告费，提升、维护 品牌，统一品牌设计、物料统一输出。</p>
							</div>
						</li>
						<li>
							<img src="index_static/images/jmz7.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/jmz7.jpg" alt="" class="li-img"/>
							<div class="li-con fl-lt">
								<h2>营收分析    指导运营</h2>
								<p>营收分析咨询服务，为店主订制个性经营化策略， 根据区域特点指导最适合的运营策略。</p>
							</div>
						</li>
						<li>
							<img src="index_static/images/jmz8.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/jmz8.jpg" alt="" class="li-img"/>
							<div class="li-con fl-lt">
								<h2>督导更新    与时俱进</h2>
								<p>建立城市督导系统，多个督导团队实地督导、就近 服务，主动巡店、及时察觉问题、随时调整。</p>
							</div>
						</li>
						<li>
							<img src="index_static/images/jmz9.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/jmz9.jpg" alt="" class="li-img"/>
							<div class="li-con fl-lt">
								<h2>服务热线    时刻相伴</h2>
								<p>营销与服务渠道体系覆盖全国，免费热线随时等候， 以更快的速度完成在线及现场维修服务。</p>
							</div>
						</li>
						<li>
							<img src="index_static/images/jmz10.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/jmz10.jpg" alt="" class="li-img"/>
							<div class="li-con fl-lt">
								<h2>公司奖励    齐头并进</h2>
								<p>对突出的加盟商会给予年终奖励，颁发奖金以及提 供国外旅游的机会，互相交流成功经验。</p>
							</div>
						</li>
						
					</ul>
				</div>
				
			</div>
{/block}