{extend name="art/ggwh" /}
{block name='header'}
<link rel="stylesheet" href="index_static/css/common.css" tppabs="http://a.yongheganggu.com/Public/Home/css/common.css">
<script src="index_static/js/uaredirect.js" tppabs="http://siteapp.baidu.com/static/webappservice/uaredirect.js" type="text/javascript"></script><script type="text/javascript">uaredirect("http://yongheganggu.com/m");</script>	
<link rel="stylesheet" href="index_static/css/yxfx.css" tppabs="http://a.yongheganggu.com/Public/Home/css/yxfx.css">
{/block}
{block name='content'}
			<div class="main fl-rt scfx">
				<div class="main-title">市场分析></div>
				<div class="th_nav">
					<div class="th_line">YONG HE GANG GU</div>
					<ul id="th_nav_list">
						<li class="active">
							<i></i>
							<h2>市场<br>分析</h2>
						</li>
						<li>
							<i></i>
							<h2>市场<br>现状</h2>
						</li>
						<li>
							<i></i>
							<h2>突围<br>之道</h2>
						</li>
					</ul>
				</div>
				
				<!--市场分析-->
				<div class="th-box scfx-box">
					<div class="part part1">
						<div class="part-top">
							<p class="p1">餐饮业</p>
							<p class="p2">永不萎缩的消费市场</p>
							<p class="p3">Never shrinking consumer market.</p>
							<ul class="clearfix"> 
								<li>衣</li>
								<li>食</li>
								<li>住</li>
								<li>行</li>
								<li>高</li>
								<li>频</li>
								<li>刚</li>
								<li>需</li>
							</ul>
							<p class="p4">中国唯一数十年持续高速增长的行业。</p>
						</div>
						<img src="index_static/images/scfx1_1.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/scfx1_1.jpg" alt="" class="img1"/>
						<p class="p5">中国，世界美食之国。三千年来，餐饮文化早已深入中华民族骨髓。如今，上到明星政要，下致平民百姓，无论在哪儿，“吃”都是头等大事儿。有“生意做遍，不如开家餐饮店”的谚语。据统计，2015年全国餐饮业收入实现3.2万亿元，同比增长11.7%，是中国唯一数十年来保持持续高速增长的行业。而大众消费成为餐饮业收入最主要的构成部分。</p>
					</div>
					<div class="part part2 clearfix">
						<div class="part-top">
							<p class="p1">快餐</p>
							<p class="p2">万亿餐饮市场它占70%。</p>
							<p class="p3">70% of the catering market.</p>
							<ul class="clearfix"> 
								<li>衣</li>
								<li>食</li>
								<li>住</li>
								<li>行</li>
								<li>高</li>
								<li>频</li>
								<li>刚</li>
								<li>需</li>
							</ul>
							<p class="p4">庞大基数下，高增长率凸显惊人潜力。</p>
						</div>
						<p class="p5">中国烹饪协会会长姜俊贤表示，随着国家产业结构调整，高端餐饮受挫严重，中国餐饮业已迎来转型发展的关键机遇期。大众消费成为餐饮业收入最主要的构成部分，占比约70%，而快餐正是大众餐饮消费市场主力。</p>
						<p class="p5">据国内权威市场调研机构《智研咨询》数据，2015年中国快餐行业的销售规模达7107亿元，年复合增长率达15.32%。</p>
						<img src="index_static/images/scfx1_2.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/scfx1_2.jpg" alt="" class="img2 fl-rt"/>
					</div>
					<div class="part part3">
						<div class="part-top">
							<p class="p1">中式快餐</p>
							<p class="p2">90%的统治性市场地位。</p>
							<p class="p3">90% of the dominant market position.</p>
							<ul class="clearfix"> 
								<li>衣</li>
								<li>食</li>
								<li>住</li>
								<li>行</li>
								<li>高</li>
								<li>频</li>
								<li>刚</li>
								<li>需</li>
							</ul>
							<p class="p4">加盟中式快餐优质品牌成为创业首选。</p>
						</div>
						<img src="index_static/images/scfx1_3.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/scfx1_3.jpg" alt="" class="img3"/>
						<p class="p5">据国家商务部统计显示，我国的快餐市场90%为中式快餐店，而西式快餐店仅占10%，未来发展趋势仍将以中式快餐食品占主导地位。中式快餐与西式快餐相比，有着更为合理的营养和膳食搭配，口味上更符合中国大众饮食习惯，菜品的选择性更强；从消费水平来讲，也更符合中国国情。</p>
						<p class="p5" style="font-weight:700;font-size:18px;">如今，加盟中式快餐优质品牌已成为创业首选项目。</p>						
					</div>
					
				</div>
				
				<!--市场现状-->
				<div class="th-box scxz-box">
					<div class="part1">
						<p class="p1">困局&乱象？</p>
						<p class="p2">Never shrinking consumer market.</p>
						<p class="p3">中式快餐市场高速增长的背后，<br>业主们普遍缺乏对行业价值的思考和创新积累，导致陷入困境。</p>
					</div>
					<div class="part2">
						<ul>
							<li>
								<div class="li-con fl-lt">
									<div class="title">
										<h3>困境一</h3>
										<span>重味重油少健康，致品牌价值流失。</span>
										<h1>01</h1>
									</div>
									<p>为了追求更强的味觉印象，多数中式快餐采用重油重味，追求极致的味觉刺激。甚至部分不良业主用重味掩盖低成本劣质食材，而漠视了健康。随着时代进步，城市居民健康意识觉醒，消费者已渐渐将食品安全健康放在首位。</p>
								</div>
								<img src="index_static/images/scxz1.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/scxz1.jpg" alt="" class="fl-lt"/>
							</li>
							<li>
								<img src="index_static/images/scxz1.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/scxz1.jpg" alt="" class="fl-lt"/>
								<div class="li-con fl-lt">
									<div class="title">
										<h3>困境二</h3>
										<span>产品同质化严重，味道千篇一律</span>
										<h1>02</h1>
									</div>
									<p>中式快餐的发展缺少积累，在产业快速发展的同时，业主们普遍缺乏对行业价值的思考探索和产品的创新。导致行业创新力严重不足，多数产品同质化严重，味道千篇一律，留给消费者的选择余地不多，导致品牌突围困难。</p>
								</div>
							</li>
							<li>
								<div class="li-con fl-lt">
									<div class="title">
										<h3>困境三</h3>
										<span>软性服务缺失，消费者难买单。</span>
										<h1>03</h1>
									</div>
									<p>消费者为什么买单？这是一个值得深思的问题。时代在发展，80、90甚至00后成为消费主流。他们崇尚自我，强调感性体验和精神舒适，更愿意为良好的服务附加付费。而多数中式快餐的业主们通常只注重对食物味道和外观的改良，而忽略诸如微笑服务、热情主动、文化价值等等“软性指标”。</p>
								</div>
								<img src="index_static/images/scxz1.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/scxz1.jpg" alt="" class="fl-lt"/>
							</li>
							<li>
								<img src="index_static/images/scxz1.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/scxz1.jpg" alt="" class="fl-lt"/>
								<div class="li-con fl-lt">
									<div class="title">
										<h3>困境四</h3>
										<span>缺乏连锁战略布局和经营方式， 导致规模做不大。</span>
										<h1>04</h1>
									</div>
									<p>多数中式快餐业主们还停留在传统餐饮业的“手工随意性生产”“单店作坊经营”“经验型管理”经营模式之中，缺乏连锁战略布局和经营思路。导致食物味道时好时坏，出单效率低上单慢，规模一直做不大。</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<!--突围之道-->
				<div class="th-box twzd-box">
					<div class="part1">
						<ul class="clearfix">
							<li class="li_1">
								<div class="fl-lt">
									<div class="li-top">
										<p class="p1">商基&商机！</p>
										<p class="p2">ShangJi & business  opportunities!</p>
										<p class="p3">当“麦当劳们”大行其道，<br>中式快餐迎来改变契机。</p>
										<p class="p4">只有将洋快餐先进理念与中式快餐 优势市场相结合，才能奠定“商基”， 抢占“商机”。</p>
									</div>
									<div class="li-item">
										<h3>商基一</h3>
										<p>关注食品健康<br>提升品牌价值</p>
										<img src="index_static/images/twzd2.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/twzd2.jpg" alt="" />
									</div>
								</div>
								<div class="fl-rt">
									<img src="index_static/images/twzd1.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/twzd1.jpg" alt="" class="img1"/>
									<p class="li1_p">“未来的餐饮业,前端越来越 个性化,但后端肯定会越来越 标准化、统一化。”<span>——海底捞公司董事长张勇</span></p>
								</div>
							</li>
							<li>
								<div class="fl-lt">
									<div class="li-item">
										<h3>商基二</h3>
										<p>专注产品创新<br>发展精品特色</p>
										<img src="index_static/images/twzd3.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/twzd3.jpg" alt="" />
									</div>
								</div>
								<div class="fl-rt">
									<div class="li-item">
										<h3>商基三</h3>
										<p>提高软实力<br>增加客户回头率</p>
										<img src="index_static/images/twzd4.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/twzd4.jpg" alt="" />
									</div>
								</div>
							</li>
							<li>
								<div class="fl-lt li_4">
									<img src="index_static/images/head4.png" tppabs="http://a.yongheganggu.com/Public/Home/img/head4.png" alt="" class="img2"/>
									<p class="p1">产业链终端财富核心</p>
									<p class="p2">谷物快餐产业链创始者</p>
									<img src="index_static/images/twzd6.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/twzd6.jpg" alt="" class="img3"/>
								</div>
								<div class="fl-rt">
									<div class="li-item">
										<h3>商基四</h3>
										<p>连锁经营布局<br>抢占上游商机</p>
										<img src="index_static/images/twzd5.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/twzd5.jpg" alt="" />
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				
			</div>
{/block}
{block name='js'}
<script src="index_static/js/jquery1.42.min.js" tppabs="http://a.yongheganggu.com/Public/Home/js/jquery1.42.min.js"></script>
<script src="index_static/js/jquery.SuperSlide.2.1.1.js" tppabs="http://a.yongheganggu.com/Public/Home/js/jquery.SuperSlide.2.1.1.js"></script>
<script src="index_static/js/common.js" tppabs="http://a.yongheganggu.com/Public/Home/js/common.js"></script>
<script src="index_static/js/index.js" tppabs="http://a.yongheganggu.com/Public/Home/js/index.js"></script>
<script>		
	//新闻
	jQuery(".txtScroll-top").slide({mainCell:".news-list",autoPage:true,effect:"topLoop",autoPlay:true,vis:5});

	//美食
	jQuery(".picScroll-left").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"left",autoPlay:true,vis:3});
			
</script>
{/block}