{extend name="art/ggwh" /}
{block name='content'}
	<!--中间部分-->

			
			<div class="main fl-rt xmjj">
				<div class="main-title">项目简介></div>
				<div class="part1 clearfix">
					<h1>美食新概念</h1>
					<h2>就在永和港谷！</h2>
					<p>The new concept of food</p>
					<img src="index_static/images/xmjj1.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/xmjj1.jpg" alt="" class="img1"/>					
				</div>
				<div class="part2 clearfix">
					<img src="index_static/images/xmjj2.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/xmjj2.jpg" alt="" class="img2 fl-lt"/>
					<div class="p-con fl-lt">
						<p>永和港谷是以谷物美食为核心特色的中式快餐项目。创新提出谷物添加美食特色，并在此基础上吸取同业美食创意，积极追求味道的极致与食物的新颖，不断融合创新，最终创造出独有“谷物添加元气美食”。</p>						
					</div>
				</div>
				<div class="part3 clearfix">
					<div class="p-con fl-lt">
						<p>永和港谷提倡健康元气生活，用谷物美食的健康、营养、美味、实惠的特性，为生活赋予更多积极的意义，从而让消费者在日常工作和生活中获得新的元气动力。</p>
						<p>永和港谷上市之初就一举推出四大系列，五十余种谷物添加特色美食，让产品线更丰富，更迎合消费者多变的口味。谷物特色天然的健康属性，以及在口味上精益求精的追求，一举解决快餐行业“产品同质化严重”、“味道差强人意”“重味重油少健康”三大诟病，已成为职场男女新宠。</p>
					</div>
					<img src="index_static/images/xmjj3.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/xmjj3.jpg" alt="" class="fl-rt"/>
				</div>
				<div class="part4">
					<i></i>
					<p>YONG HE GANG GU</p>
				</div>
				
			</div>

	
{/block}
	