{extend name="art/ggwh" /}
{block name='header'}
<link rel="stylesheet" href="index_static/css/common.css" tppabs="http://a.yongheganggu.com/Public/Home/css/common.css">
<script src="index_static/js/uaredirect.js" tppabs="http://siteapp.baidu.com/static/webappservice/uaredirect.js" type="text/javascript"></script><script type="text/javascript">uaredirect("http://yongheganggu.com/m");</script>	
<link rel="stylesheet" href="index_static/css/yxfx.css" tppabs="http://a.yongheganggu.com/Public/Home/css/yxfx.css">
{/block}
{block name='content'}
			<div class="main fl-rt xmys">
				<div class="main-title">项目优势></div>
				<div class="th_nav">
					<div class="th_line">YONG HE GANG GU</div>
					<ul id="th_nav_list">
						<li class="active">
							<i></i>
							<h2>产品<br>优势</h2>
						</li>
						<li>
							<i></i>
							<h2>营销<br>优势</h2>
						</li>
						<li>
							<i></i>
							<h2>产业<br>优势</h2>
						</li>
					</ul>
				</div>
				
				<!--产品优势-->
				<div class="th-box cpys-box">
					<div class="part1">
						<p class="p1">四大元气系列，56款谷物特色单品。</p>
						<p class="p2">让你精神满满一整天！</p>
						<p class="p3">Let your spirit all day!</p>
					</div>
					<div class="part2">
						<ul class="clearfix">
							<li>
								<h3>谷物特色美食，<br>打造独特味觉壁垒。</h3>
								<p>依靠对美食艺术的独特理解，吸收业内经典美食创意，在此基础上加入稻、黍、稷、麦、菽等五谷食材，以特殊制法烹调而成，使口感独具风味，更追求极致口感，在菜式口味上不断创新，打造独特味觉壁垒。</p>
								<img src="index_static/images/xmys1_1.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/xmys1_1.jpg" alt="" />
							</li>
							<li>
								<img src="index_static/images/xmys1_2.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/xmys1_2.jpg" alt="" />
								<h3>自带健康属性，<br>塑造产品价值核心。</h3>
								<p>随着时代进步，城市居民健康意识觉醒，消费者已渐渐将食品安全健康放在首位。谷物产品富含多种维生素、植物纤维和人体所必需的微量元素，是普通白米的数倍，其自带的健康属性，为消费者瞩目，为品牌塑造了产品价值核心。</p>
							</li>
							<li>
								<h3>谷物特色美食，<br>打造独特味觉壁垒。</h3>
								<p>永和港谷提倡健康元气生活，用谷物美食的健康、营养、美味、实惠的特性，微生活赋予更多积极的意义。其元气正能量美食，让品牌有了灵魂内核，从而大大提升了品牌的软性竞争力。</p>
								<img src="index_static/images/xmys1_3.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/xmys1_3.jpg" alt="" />
							</li>
						</ul>
					</div>
					<div class="part3">
						<img src="index_static/images/xmys1_4.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/xmys1_4.jpg" alt="" />
					</div>					
				</div>
				
				<!--营销优势-->
				<div class="th-box yxys-box">
					<div class="part1 clearfix">
						<img src="index_static/images/xmys2_1.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/xmys2_1.jpg" alt="" class="fl-lt"/>
						<div class="fl-lt part-right">
							<img src="index_static/images/xmys2_2.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/xmys2_2.jpg" alt="" />
							<div class="item item1">
								<h3>O2O双向引流系统</h3>
								<p>与美团等线上平台<br>战略合作，线上拓客<br>服务引流，线下揽客<br>保持店面人气</p>
							</div>
							<div class="item item2">
								<h3>预约分流服务制</h3>
								<p>提前预定，顾客引流<br>提高服务效率<br>增加消费频次</p>
							</div>
						</div>
					</div>
					<div class="part2 clearfix">
						<div class="fl-lt part-right">
							<img src="index_static/images/xmys2_2.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/xmys2_2.jpg" alt="" />
							<div class="item item1">
								<h3>线上会员系统黏客</h3>
								<p>订制线上会员系统，<br>定期促销活动，增强粉丝黏性。<br>让客户把消费变成长期行为。</p>
							</div>
							<div class="item item2">
								<h3>线下积分卡活动促销</h3>
								<p>积分集卡活动，<br>累积消费次数获赠品。<br>给客户一个消费的理由。</p>
							</div>
						</div>
						<img src="index_static/images/xmys2_3.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/xmys2_3.jpg" alt="" class="img1 fl-lt"/>
					</div>
					<div class="part3">
						<img src="index_static/images/xmys2_5.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/xmys2_5.jpg" alt="" />
					</div>
					<div class="part4">
						<ul>
							<li>
								<h2>五重营销<span>打造元气谷物节</span></h2>
							</li>
							<li>
								<p>优惠券发放、试吃等线下店面活动，引动消费欲望。</p>
							</li>
							<li>
								<p>淘宝、微信等线上支付平台，打造智能服务体系。</p>
							</li>
							<li>
								<p>公众微信平台、自媒体宣传，教育市场，吸粉引流。</p>
							</li>
							<li>
								<p>元气场景模拟营销，节假日元气 活动挑战赛等， 趣味活动，客户来了不想走。</p>
							</li>
							<li>
								<p>网红直播互动， 打造谷物粉丝帝国。</p>
							</li>
						</ul>
					</div>
					
				</div>
				<!--产业优势-->
				<div class="th-box cyys-box">
					<div class="part1">
						<div class="part-title clearfix">
							<h1>自然界中</h1>
							<h2>顶级掠食者决定生存秩序</h2>
							<p>Order to survive</p>				
						</div>
						<div class="part-title clearfix">
							<h1>商业界中</h1>
							<h2>产业链终端控制财富核心</h2>
							<p>Wealth is the core</p>				
						</div>
					</div>
					<div class="part2">
						<img src="index_static/images/foot2.png" tppabs="http://a.yongheganggu.com/Public/Home/img/foot2.png" alt="" />
						<p class="p1">产业链终端财富核心</p>
						<p class="p2">谷物快餐产业链始创者</p>
						<p class="p3">产业链资源提供全方位支持</p>
						<i></i>
						<p class="p4">产业链六大支持，贯穿“产供销”全程</p>
					</div>
					<div class="part3">
						<ul>
							<li>
								<div class="fl-lt">
									<img src="index_static/images/xmys3_1.png" tppabs="http://a.yongheganggu.com/Public/Home/img/xmys3_1.png" alt=""/>
								</div>
								<p class="fl-lt">>智力支持<br>>工艺支持<br>>产品支持</p>
								<img src="index_static/images/xmys3_1.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/xmys3_1.jpg" alt="" class="fl-lt"/>
							</li>
							<li>
								<div class="fl-lt">
									<img src="index_static/images/xmys3_2.png" tppabs="http://a.yongheganggu.com/Public/Home/img/xmys3_2.png" alt=""/>
								</div>
								<p class="fl-lt">>物流支持<br>>创新支持<br>>资源支持</p>
								<img src="index_static/images/xmys3_2.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/xmys3_2.jpg" alt="" class="fl-lt"/>
							</li>
							<li>
								<div class="fl-lt">
									<img src="index_static/images/xmys3_3.png" tppabs="http://a.yongheganggu.com/Public/Home/img/xmys3_3.png" alt=""/>
								</div>
								<p class="fl-lt">>运营支持<br>>服务支持<br>>营销支持</p>
								<img src="index_static/images/xmys3_3.jpg" tppabs="http://a.yongheganggu.com/Public/Home/img/xmys3_3.jpg" alt="" class="fl-lt"/>
							</li>
						</ul>
					</div>
					
				</div>
				
			</div>
{/block}
{block name='js'}
<script src="index_static/js/jquery1.42.min.js" tppabs="http://a.yongheganggu.com/Public/Home/js/jquery1.42.min.js"></script>
<script src="index_static/js/jquery.SuperSlide.2.1.1.js" tppabs="http://a.yongheganggu.com/Public/Home/js/jquery.SuperSlide.2.1.1.js"></script>
<script src="index_static/js/common.js" tppabs="http://a.yongheganggu.com/Public/Home/js/common.js"></script>
<script src="index_static/js/index.js" tppabs="http://a.yongheganggu.com/Public/Home/js/index.js"></script>
<script>		
	//新闻
	jQuery(".txtScroll-top").slide({mainCell:".news-list",autoPage:true,effect:"topLoop",autoPlay:true,vis:5});

	//美食
	jQuery(".picScroll-left").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"left",autoPlay:true,vis:3});
			
</script>
{/block}