<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="UTF-8">
    {block name='title'}
        <title>{$confres.sitename}</title>
    {/block}
    <meta name="keywords" content="{$confres.keywords}" />
    <meta name="description" content="{$confres.desc}" />
    <link rel="shortcut icon" href="index_static/images/logo.png" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="index_static/css/style.css">
    <script src="index_static/js/uaredirect.js" type="text/javascript"></script>
    <script src="index_static/js/push.js" type="text/javascript"></script>
</head>
<body>
<!-- header -->
<div class="header chearfix">
    <div class="header_center">
        <div class="header_title"><a href="/" tppabs=""><img src="index_static/images/logo.png"  alt="喜茶logo"></a></div>
        <p>注册品牌喜茶HEYTEA</p>
    </div>
</div>
<!-- header end -->
<!-- nav -->
<div class="nav">
    <div class="nav_con">
        <div class="nav_left clearfix">
            <div class="nav_logo"> </div>
        </div>
        <div class="nav_right">
            <ul class="menu">
                <li><a href="/" tppabs="">首页</a></li>
                {volist name="recIndex" id="vo"}
                        <li><a href="{if condition='$vo.type eq 1'}{:url('artlist/index',array('id'=>$vo['id']))}{elseif condition='$vo.type eq 3'}{:url('imglist/index',array('id'=>$vo['id']))}{else /}{:url('page/index',array('id'=>$vo['id']))}{/if}" tppabs="about.php">{$vo.catename}</a></li>
                {/volist}
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
{block name='main'}
<!-- nav end --> <div class="qiye">
    <div class="qiye_con">
        <div class="qiye_left">
            <div> <p class="shengming">喜茶声明</p> </div>
            <div></div>
            <div class="jieshao">
                <p><strong>致热爱喜茶的朋友：</strong></p>
                <p>连日以来，有很多热爱喜茶的朋友，在社交平台上晒出和喜茶&ldquo;长得&rdquo;很像的各类图片，积极地向我们举报山寨现象，还有向我们求证喜茶是否开到了其所在的城市。</p>
                <p><strong>1.目前喜茶在香港、澳门以及海外地区没有开设任何分店</strong>，香港、美国、韩国、加拿大、泰国、马来西亚等地的&ldquo;喜茶&rdquo;与我们没有任何关系。我们在上述地区，均已进行商标注册申请，并将追究相关侵权店铺的法律责任。&nbsp;</p>
                <p><strong>2.我司拥有中文「喜茶」、英文「HEYTEA」、「HEEKCAA」的完整商标权益</strong>，其他任何在&ldquo;喜茶&rdquo;添加前缀或后缀，或与「喜茶」、「HEYTEA」及「HEEKCAA」类似或近似的商标均与我们无关，请大家认准「喜茶HEYTEA」，别喝到假的喜茶了。</p>      </div>
        </div>
        <div class="qiye_right">
            <div><p class="shengming">关注热点</p> </div>
            <div></div>
            <div class="news">
                <div class="news_con">
                    {volist name='news' id='vo'}
                        <p>[<span style="font-weight: bold;">热度：{$vo.click}</span>]&nbsp;<a href="{:url('article/index',array('id'=>$vo['id']))}"  title="{$vo.title}">{$vo.title|mb_substr=0,28,'utf-8'}...</a>
                            <small>{$vo.time|date='m-d',###}</small>
                        </p>
                    {/volist}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner -->
<div class="banner">
    <div id="slideBox" class="slideBox">
        <div class="hd">
            <ul>
                <li class="on"></li>
                {volist name='carousel' offset="1" id='vo'}
                    <li></li>
                {/volist}
            </ul>
        </div>
        <div class="bd">
            <ul>
                {volist name='carousel' id='vo'}
                    <li class="sliderimg"><img src="{$vo.thumb}" alt="{$vo.title}"></li>
                {/volist}
                {volist name='carousel' offset="1" length='2' id='vo'}
                    <li class="sliderimg"><img src="{$vo.thumb}" alt="{$vo.title}"></li>
                {/volist}
            </ul>
        </div>
        <div class="lbt"><</div>
        <div class="rbt">></div>
    </div>
</div>
<!-- banner end -->
<!-- fruit -->
<div class="content">
    <div class="fruit clearfix">
        <div class="fruit_title">
            <p class="en_title">INSPIRATION TEA</p>
            <p class="zh_title">- 灵感之茶 -</p>
            <span>Heekcaa喜茶：一份带有浓密情谊的奶茶，舒适而美味，甜蜜且温馨。</span> </div>
        <ul class="pro_fruit centerr">
            {volist name='products' id='vo'}
                <li class="fruit_con">
                    <div><img src="{$vo.thumb}" style="width: 270px;height: 270px;"  alt="{$vo.title}"></div>
                    <a href="{:url('article/index',array('id'=>$vo['id']))}" >
                        <span class="pro_entiter"><p>{$vo.desc}</p></span>
                        <p class="pro_zhtiter">{$vo.title}</p>
                    </a>
                </li>
            {/volist}
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- fruit end -->
<!-- video -->
<div class="qiye">
    <div class="qiye_con">
        <div class="qiye_left">
            <div><img src="jieshao.png" tppabs="images/jieshao.png" alt="喜茶简介"></div>
            <div></div>
            <div class="jieshao">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;<strong>&nbsp; HEEKCAA喜茶</strong>发展至今，实属不易，短短几年间数次更换品牌logo名称。喜茶发展之初原名为&mdash;&mdash;皇茶，自开第一家店面以来，就备受青睐和关注，导致品牌名称被相继模仿，为了避免山寨产品以次充好，我们决定更换商标，几次尝试之后，由于&rdquo;皇茶&rdquo;不能被注册，创始人聂云宸决定放弃这个商标，于2016年出确定品牌名称&mdash;&mdash;HEEKCAA喜茶，随即将原有的50多件门店全部更换，以杜绝山寨商家以此充好。目前我们的产品主要有奶茶，甜点小吃等，生意异常的火爆，随处可见在喜茶店铺门前排队买奶茶的状况。这中状况给了我们很积极的心态，我们计划今年新开20至30家加盟店铺，以满足对喜茶热爱的忠实粉丝，同样也期待与您的真诚合作。</p>        <p class="zhuanti"><span><a href="{:url('artlist/index',array('id'=>2))}" tppabs="zfnews.php">专访喜茶</a></span><span><a href="{:url('artlist/index',array('id'=>7))}" tppabs="news.php">热门推荐</a></span></span><span><a href="{:url('imglist/index',array('id'=>7))}" tppabs="sto_info.php?pid=237">查看全部门店</a></span></span></p>
            </div>
        </div>
        <div class="qiye_right">
            <div><a href="{:url('artlist/index',array('id'=>7))}" tppabs="news.php"  title="新闻中心"><img src="dongtai.jpg" alt="企业动态"></a></div>
            <div></div>
            <div class="news">
                <div class="news_con">
                    {volist name='dynamic' id='vo'}
                        <p>[<span style="font-weight: bold;">热度：{$vo.click}</span>]&nbsp;<a href="{:url('article/index',array('id'=>$vo['id']))}" title="{$vo.title}">{$vo.title|mb_substr=0,28,'utf-8'}</a>
                            <small>{$vo.time|date='m-d',###}</small>
                        </p>
                    {/volist}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- video end -->
<!-- pinpai -->
<div class="pinpai">
    <div class="pinpai_con">
        <div class="pinpai_title fruit_title">
            <p class="en_title">HEYTEA HISTORY</p>
            <p class="zh_title">- 发展历程 -</p>
            <span>喜茶--芝士奶盖茶开创者，由起先的Royaltea皇茶升级为现在的HEEKCAA喜茶，还是最初的梦想，还是之前的味道。</span> </div>
        <div class="pinpai_img">
            <div class="pinpai_pic"> </div>
            <div class="pinpai_word">
                <div class="word_top"> <span></span> <span>创意生活，只为一杯香醇</span> </div>
                <p class="word_body">

                    2012年5月12日，第一家喜茶在江门市九中街开业（现已结业）。<br/>

                    2013年，喜茶进入广东东莞、中山市场。<br/>

                    2014年，喜茶进入广东佛山市场。<br/>

                    2015年4月，喜茶进入广东惠州市场。<br/>

                    2015年10月进入广州市场，广州喜茶首店在东方宝泰开业。<br/>

                    2016年7月进入广西市场，广西喜茶首店在南宁开业。<br/>

                    2016年10月，首家「HEYTEA LAB」概念店于深圳中心城亮相，首次引入「实验室手冲茶」概念。<br/>

                    2017年1月，首家「HEYTEA BLACK」主题店于深圳万象城惊艳亮相，汲取黑金灵感，玩味摩登。<br/>

                    2017年2月，进入上海市场，上海喜茶首店在来福士开业，受到沪上人民的热烈欢迎。<br/>
                </p>
                <div class="word_bottom">
                    <p>STYLE</p>
                    <p>CREATIVE LIVE</p>
                    <p>INSPIRATION OF TEA</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- pinpai end -->
<!-- hot -->
<div class="hot">
    <div class="hot_con">
        <div class="hot_title">
            <p>STORE DISPLAY</p>
            <p>喜茶门店</p>
        </div>
        <div class="hot_img">
            <div class="hot1"><img src="index_static/images/hot1.jpg" tppabs="images/hot1.jpg" alt="" width="400px"></div>
            <div class="hot3"><img src="index_static/images/hot3.jpg" tppabs="images/hot3.jpg" alt="" width="400px"></div>
            <div class="hot2"><img src="index_static/images/hot2.jpg" tppabs="images/hot2.jpg" alt="" width="500px"></div>
        </div>
    </div>
</div>
<!-- hot end -->
<!-- cartoon -->
<div class="cartoon">
    <div class="cartoon_con">
        <div class="cartoon_title"> </div>
        <div class="cartoon_img"></div>
        <p class="bottom_p">喜茶与多位独立插画师合作，用绘画的语言表达饮茶之趣，创作出一系列符合喜茶品牌理念，饶有趣味的系列原创插画。全线产品包装亦遵循喜茶推崇的「酷」、「简约」的风格，汲取灵感，精心设计，与时俱进。</p>
    </div>
</div>
<!-- cartoon end -->
<!-- footer -->
{/block}
<div class="foot">
    <div class="foot_con">
        <div class="foot_logo">
            <div> </div>
        </div>
        <div class="foot_info">
            <div class="foot_list">
                <span><a href="/" tppabs="">喜茶</a></span>
                {volist name="recIndex" id="vo"}
                    <span><a href="{if condition='$vo.type eq 1'}{:url('artlist/index',array('id'=>$vo['id']))}{elseif condition='$vo.type eq 3'}{:url('imglist/index',array('id'=>$vo['id']))}{else /}{:url('page/index',array('id'=>$vo['id']))}{/if}" tppabs="about.php">{$vo.catename}</a></span>
                {/volist}
            </div>
            <p>原『皇茶』更名☛ "HEEEKCAA喜茶"</p>
            <p>喜茶官方网址：<a href="/" tppabs="">HEEEKCAA喜茶加盟</a></p>
            <p>Copyright &copy; 2016HEEKCAA喜茶餐饮企业有限公司</p>
            <div class="code"> <img src="index_static/images/erweima.png" ><br><span>扫一扫，看移动端！</span></div>
        </div>
        <p>友情链接：
            {volist name="linkRes" id="vo"}
                <a href="{$vo.url}" tppabs="" target="_blank">{$vo.title}</a>&nbsp;
            {/volist}
        </p>
    </div>
</div>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "hm.js-4d53eae9e1cfaa8026816b5ca6d86b26"/*tpa=https://hm.baidu.com/hm.js?4d53eae9e1cfaa8026816b5ca6d86b26*/;
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</body>
</html>
<script type="text/javascript" src="index_static/js/jquery-1.js" tppabs="js/jquery-1.js"></script>
<script type="text/javascript" src="index_static/js/jas.js" tppabs="js/jas.js"></script>