{extend name="index/index" /}
{block name='title'}
    <title>{$articles.title}_{$confres.sitename}<</title>
{/block}
{block name='main'}
<div class="content">
    <div class="fruit clearfix">
        <p class="mianbaoxie">当前位置：<a href="/">首页</a> &gt; {$cates.catename}</p>
        <div class="pro_fruit">
            <div>
                <h1 style="line-height:20px; font-size:34px; text-align:center;padding-bottom:25px;">{$articles.title}</h1>
                <p style="text-align:center;">发布日期：[{$articles.time|date='Y-m-d',###}]&nbsp;&nbsp; 作者：[{$articles.author}]&nbsp;&nbsp;
                    浏览量：[<span id="clicks">{$articles.click}</span>]</p>
                {$articles.content}
                 </div>
            <div class="clear top_line"> <p>
                上一篇:{empty name="after"}没有了{/empty}{notempty name="after"}<a href="{:url('article/index',array('id'=>$after['id']))}">{$after.title}</a>{/notempty}</p><p>
                下一篇:{empty name="front"}没有了{/empty}{notempty name="front"}<a href="{:url('article/index',array('id'=>$front['id']))}">{$front.title}</a>{/notempty}</p> </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="team">
    <div class="team_title fruit_title">
        <p class="zh_title"><a href="{:url('artlist/index',array('id'=>2))}">- 推荐新闻 -</a></p>
    </div>
    <div class="team1">
        <div class="team1_con clear">
            {volist name="news" id="vo"}
            <div class="team1_word1">
                <a href="{:url('article/index',array('id'=>$vo['id']))}"><p>{$vo.title|mb_substr=0,18,'utf-8'}...</p>
                    <p>{$vo.desc|mb_substr=0,30,'utf-8'}...</p></a>
            </div>
            {/volist}
        </div>
    </div>
</div>
{/block}