{extend name="index/index" /}
{block name='title'}
<title>{$articles.title}_{$confres.sitename}<</title>
{/block}
{block name='main'}
<div class="n640 list_b">当前位置 &gt;<a href="/wap">heekcaa喜茶首页</a> &gt;{$cates.catename}
    <p style=" float:right; border-bottom:1px solid #e4e4e4;"><a href="javascript:history.back()">返回上一页</a></p></div>
<div class="n640"><img src="index_static/images/nlc_04.jpg" width="640" height="240" /></div>
<div class="n640 list">
    <div class="main">
        <div >
            <h1 style="line-height:50px; font-size:20px; font-weight:bold; text-align:center;">{$articles.title}</h1>
            {$articles.content}
            </div>
        <div>
            <span style="float:left; width:50%;">上一篇:{empty name="after"}没有了{/empty}{notempty name="after"}<a href="{:url('article/index',array('id'=>$after['id']))}">{$after.title}</a>{/notempty} </span>
            <span style="float:left; width:40%;">下一篇:{empty name="front"}没有了{/empty}{notempty name="front"}<a href="{:url('article/index',array('id'=>$front['id']))}">{$front.title}</a>{/notempty}</span> </div>
    </div>
</div>
{/block}